<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="list-group-item-secondary" routerLink="login">Login</a>
        <a class="nav-item nav-link" routerLinkActive="list-group-item-secondary" routerLink="appareils">Appareils</a>
        <a class="nav-item nav-link" routerLinkActive="list-group-item-secondary" routerLink="#">Pricing</a>
        <a class="nav-item nav-link disabled" routerLinkActive="list-group-item-secondary" routerLink="#">Disabled</a>
        </div>
    </div>
</nav>

<br /><br /><br /><br />

<div class="container">
    <router-outlet></router-outlet>
</div>
