<ul class="list-group">
    <li class="list-group-item" *ngFor="let appareil of appareils; let id = index" >
        <div [ngClass]="{'list-group-item-danger': appareil.status === 'éteint', 'list-group-item-success': appareil.status === 'allumé', 'row': true }">
                <div [ngStyle]="{'width': '25px', 'height': '25px', 'background-color': appareil.status === 'éteint' ? 'red': 'green'}"></div>
                &nbsp;
                {{ appareil.name }}
                <hr />
                <button class="btn btn-success" [disabled]="appareil.status === 'allumé'" (click)="onToggleStatut(id)" >Allumer</button> &nbsp;
                <button class="btn btn-danger" [disabled]="appareil.status === 'éteint'" (click)="onToggleStatut(id)" >Eteindre</button> &nbsp;
                {{ appareil.status}} &nbsp;
        </div>
        <a [routerLink]="[id]">Détails</a>  
    </li>    
  </ul>
