<p>N° : {{ appareils[idRecupere].id }}</p>
<p>Nom : {{ appareils[idRecupere].name }}</p>
<p>Statut : <span [ngStyle]="{'color': appareils[idRecupere].status === 'allumé' ? 'green' : 'red'}" >{{ appareils[idRecupere].status }}</span></p>
<a routerLink="/appareils">Retour</a>